<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="Service.MeteoService">
        <endpoint
          contract="ServiceContract.MeteoServiceContract"
          binding="netTcpBinding"
          address="net.tcp://localhost:9999/ServiceContract.MeteoServiceContract"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>