<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <system.serviceModel>
    <client>
      <endpoint name="MyEP"
        contract="ServiceContracts.IMeteoService"
        binding="netTcpBinding"
        address="net.tcp://localhost:9999/ServicesContracts.IMeteoService"/>

    </client>
  </system.serviceModel>
</configuration>