<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <client>
      <endpoint
        name="meteoServiceEndpoint"
         contract="ServiceContract.MeteoServiceContract"
         binding="netTcpBinding"
         address="net.tcp://localhost:9999/ServiceContract.MeteoServiceContract">
      </endpoint>
    </client>
    
  </system.serviceModel>
  
</configuration>